body{
    margin: 0px;
   }
   
.navbar{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #d2d4f1;
    border-bottom:  1px solid rgba(51,51,51,5);
}
.icon{
    width: 50px;
    height: 50px;
    color: rgb(64,60,60);
}
.home{
    margin-left: 10px;
    font-size: 25px;
    flex: 1;
}
.info{
    font-size: 25px;
    flex: 1;
}
.teste{
    font-size: 25px;
    flex: 4;
}
/* unvisited link */
a:link {
    text-decoration: none;
    color: rgb(64,60,60);
  }
  
  /* visited link */
  a:visited {
    text-decoration: none;
    color: rgb(64,60,60);
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
    color: rgb(64,60,60);
  }
  